body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;

    
}
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 45px;
}

.login-nome{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 45px;
}

.login-email {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 45px;
}

.login-senha {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 45px;
}

.login-cpf {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 45px;
}

.login-cep {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 45px;
}

.login-telefone {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 45px;
}

.login-rua {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 45px;
}

.login-numero {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 45px;
}

.login-complemento {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 45px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    border-radius: 45px;
    background-color: #BFCFF9;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login-container button {
    width: 40%;
    padding: 10px;
    border-radius: 45px;
    background-color: #2E57C0;
    color:fff;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}

