body{
    font-family: 'Jura', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* define a altura do container como 100% da altura da tela */
}

.img1NA {
    max-width: 35%; /* garante que a imagem não seja maior que 50% do container */
    height: auto; /* mantém a proporção da imagem */
    margin-top: -300px
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* define a altura do container como 100% da altura da tela */
}

.img2NA {
    max-width: 20%; /* garante que a imagem não seja maior que 50% do container */
    height: auto; /* mantém a proporção da imagem */
    margin-top: -1250px;
}

.container3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img3NA {
    height: auto;
    width: 60%; /* ajusta a largura da imagem */
    margin-top: -870px;
}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* define a altura do container como 100% da altura da tela */
}

.img4NA {
    max-width: 20%; /* garante que a imagem não seja maior que 50% do container */
    height: auto; /* mantém a proporção da imagem */
    margin-top: -450px;
}


.margin-wrapper {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: row;
    background-color: #BFCFF9;
    padding: 20px;
    margin: 10px;
    width: 70%;
    /* height: 60%; */
    /* margin-top: -450px; */
}

.left-content {
    display: flex;
    justify-content: flex-start;
}

.left-content img {
    max-width: 100%;
    height: auto;
}

.right-content {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.right-content h1 {
    margin-bottom: 10px;
}

