body{
    font-family: 'Jura', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* define a altura do container como 100% da altura da tela */
}

.img1NA {
    max-width: 35%; /* garante que a imagem não seja maior que 50% do container */
    height: auto; /* mantém a proporção da imagem */
    margin-top: -300px
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* define a altura do container como 100% da altura da tela */
}

.img2NA {
    max-width: 20%; /* garante que a imagem não seja maior que 50% do container */
    height: auto; /* mantém a proporção da imagem */
    margin-top: -1250px;
}

.container3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img3NA {
    height: auto;
    width: 60%; /* ajusta a largura da imagem */
    margin-top: -870px;
}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* define a altura do container como 100% da altura da tela */
}

.img4NA {
    max-width: 20%; /* garante que a imagem não seja maior que 50% do container */
    height: auto; /* mantém a proporção da imagem */
    margin-top: -450px;
}


.margin-wrapper {
    display: flex;
    justify-content: center;
}
.container5 {
    display: flex;
    flex-direction: row;
    background-color: #BFCFF9;
    padding: 0px;
    margin: 10px;
    width: 50%;
    border-radius: 10px;
    height: 60%;
    margin-top: -450px;
    justify-content: center;
}

.left-content {
    display: flex;
    justify-content: flex-start;
    margin-right: -180px;
}

.left-content img {
    max-width: 100%;
    height: auto;
    width: 30%;
    margin-right: 10px;
    border-radius: 10px;

}

.right-content {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 10px 0px 20px 10px;
}

.right-content h1 {
    text-align: center;
    margin-bottom: 10px;
}

.container6 {
    display: flex;
    flex-direction: row;
    background-color: #BFCFF9;
    padding: 0px;
    margin: 10px;
    width: 50%;
    border-radius: 10px;
    height: 60%;
    margin-top: -300px;
    justify-content: center;
}

.container7 {
    display: flex;
    flex-direction: row;
    background-color: #BFCFF9;
    padding: 0px;
    margin: 10px;
    width: 50%;
    border-radius: 10px;
    height: 60%;
    margin-top: -170px;
    justify-content: center;
}

.container8 {
    display: flex;
    flex-direction: row;
    background-color: #BFCFF9;
    padding: 0px;
    margin: 10px;
    width: 50%;
    border-radius: 10px;
    height: 60%;
    margin-top: -20px;
    justify-content: center;
}